header {
    padding: 15px 0;

    @include lg {
        padding: 30px 0;
    }
    
    .container {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-areas: "logo btn"
                             "menu menu";
        
        @include xl {
            grid-template-columns: 1fr 2fr;
            grid-template-areas: "logo menu"                      
        }                 
    }    

    .logo {
        grid-area: logo;
    }

    #menu {
        grid-area: menu;
        font-family: $font-poppins;
        
        
        @include lg {
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

        .menu-links {
            color: $color-dark-2;
            padding-top: 20px;

            @include lg {
                padding-top: 0px;
            }

            .link {
                display: block;
                margin: 10px 20px;
                padding: 10px;//Ökar klickytan för länken i mobilversionen
                color: $color-dark-2;
                font-size: 1.1rem;

                @include lg {
                    display: inline-block;
                    margin: 0 20px;
                }

                &:hover {
                    color: $color-theme-1;
                }
            }
        }
        .menu-icons {
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            text-align: center;
            padding: 10px;

            @include lg {
                position: static;
                padding: 0px;
            }

            .link {
                margin-left: 15px;
                color: $color-dark-4;

                &:hover {
                    color: $color-dark-2;
                }
            }
        }
    }

    .btn-toggle {
        grid-area: btn;
        text-align: right;
        

        @include lg {
            display: none;
        }
    }
}