.top-selling {
    .section-title {
        h1 {
            margin-top: 70px;
            margin-bottom: 80px;
            text-align: center;
            color: $color-dark-2;
            font-weight: $font-weight-semi-bold;
            font-size: 30px;
        }
    }
    .arrow-buttons {
        display: flex;
        justify-content: center; // center the items horizontally
        align-items: center;
        

        .btn-arrow {
            margin: 0 10px;
            border-radius: 10px;
            border: 2.4px solid black;
            padding: 12px 21px 12px 21px;
        }
    }
}