html, body {
    font-size: 16px;
    font-family: $font-roboto;
    font-weight: $font-weight-regular;
    color: $color-dark-3;
}

a {
    text-decoration: none;
    color: $color-theme-1;

    &:hover {
        color: $color-theme-1;
    }
 }

//Generall for all buttons
button {
    border: 1px solid $color-dark-1;
    background-color: transparent;
    color: $color-dark-1;
    transition: all 0.2s;
    font-family: $font-poppins;
    padding: 10px 30px;

   &:hover {
        background-color: $color-dark-1;
        color: $color-white;
   }
}

.btn-white {
    background-color: $color-white;
    color: $color-dark-2;
    border: 1px solid $color-dark-2;
}

.btn-theme {
    border: none; 
    background-color: $color-theme-1;
    color: $color-white; 
}

.btn-shopping-cart {
    grid-area: btn;
    .link {
        color: $color-dark-4;

        &:hover {
            color: $color-dark-1;
        }
    }
}

.card {
    border: none;

    img {
        
    }

    .card-body {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-areas: "text text"
                             "price btn";
        font-family: $font-poppins;
        padding-left: 0;
        
    
        

        .card-text {
            grid-area: text;
            font-weight: $font-weight-medium;
            font-size: 18px;
            color: $color-dark-1;
            
        }

        .price {
            grid-area: price;
            font-weight: $font-weight-regular;
            font-size: 16px;
            line-height: 0.1rem;
            
        }
    }
}