html, body {
    font-size: 16px;
    font-family: $font-poppins;
    font-weight: $font-weight-regular;
    color: $color-dark-5;
}

a {
    text-decoration: none;
    color: $color-theme-1;

    &:hover {
        color: $color-theme-1;
    }
 }

 //BUTTONS
//General for all buttons
button {
    border: 1px solid $color-dark-1;
    background-color: transparent;
    color: $color-dark-1;
    transition: all 0.2s;
    padding: 10px 30px;

   &:hover {
        background-color: $color-dark-1;
        color: $color-white;
   }
}

.btn-white {
    background-color: $color-white;
    color: $color-dark-2;
    border: 1px solid $color-dark-2;
}

.btn-theme {
    border: none; 
    background-color: $color-theme-1;
    color: $color-white; 
}

//CARD
.card {
    border: none;

    img {
        
    }

    .card-body {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-areas: "text text"
                             "price btn";
        padding-left: 0;
        
        .card-text {
            grid-area: text;
            padding-top: 15px;
            font-weight: $font-weight-medium;
            font-size: 18px;
            line-height: 0.1rem;
            color: $color-dark-1;
            
        }

        .price {
            grid-area: price;
            font-weight: $font-weight-regular;
            font-size: 16px;
            line-height: 0.1rem;
            padding-bottom: 10px;
            padding-top: 10px;
        }

        .shopping-cart-icon {
            grid-area: btn;
            display: flex;
            justify-content: end;
            visibility: hidden;
        
            .link {
                color: $color-dark-5;
        
                &:hover {
                    color: $color-dark-1;
                }
            }
        }

        &:hover .shopping-cart-icon {
            visibility: visible; 
          }
    }
}